@{
    ViewData["Title"] = "Home Page InfoClient";
}

<div class="text-center">
    <h4 class="display-4">Manager Information Client</h4>
    <p><strong>Banshee S.A.</strong> Allows it to manage the basic information of its customers.</p>
</div>
