@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="card card-body">
    <p>App de prueba realiza por <strong>Antonio A. Mosquera V.</strong></p>
    <p>Para aplicar al cargo de: <i>.Net Senior Developer</i></p>
</div>